@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>
<div class="text-center">
    <h1>Benvenuti in EpiScarpe&Co.</h1>
</div>
<h2>I nostri prodotti</h2>

@foreach (var product in Model)
{
    <div class="product-item">
        <img src="@product.CoverImage" alt="@product.Name" />
        <h3>@product.Name</h3>
        <p>Price: $@product.Price</p>
        @Html.ActionLink("Details", "Details", new { id = product.Id })
    </div>
}
