@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label for="IndirizzoEmail">Email:</label>
        <input type="email" name="IndirizzoEmail" required>
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" name="PasswordCliente" required>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
}

<a href="~/Home/Register">Non hai un account? Registrati qui.</a>
<a href="~/Home/LoginAdministrators">Sei un amministratore? Loggati qui.</a>
